# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

#### **Objectives:**

##### Some of the key takeaways from this course are:

- List popular languages for Data Science
- List popular libraries Data Scientists use
- Create a table with popular Data Science Tools
- Code examples of evaluating arithmetic expressions
- Insert markdown cells and customize texts

##### Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Java
5. C++

##### Some of the libraries commonly used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. TensorFlow
8. Pytorch
9. ApacheSpark

|Data Science Tools|
|------------------|
|Jupyter Notebooks|
|RStudio|
|Spyder|

### Below are few examples of evaluating arithmetic expressions in Python

In [4]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [6]:
# This will convert 200 minuters to hours by dividing by 60

200/60

3.3333333333333335

## Author
#### Katerín Lissine Obregón